.MainNavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E7E9EA;
    height: 40px;
    padding: 0 15px;

    .MainNavbar__left {
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 18px;
        color: #111111;

    }

    .MainNavbar__right {
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 15px;
        gap: 2em;
    }
}