.MainNavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E7E9EA;
    height: 40px;
    padding: 0 25px;
   


    .MainNavbar__left {
        font-style: normal;
        font-weight: 700;
        font-size: .9em;
        line-height: 18px;
        color: #111111;

    }

    .MainNavbar__right {
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 15px;
        gap: 2.5em;

        li {
            display: flex;
            gap: .5em;
        }

        li:hover{
            cursor: pointer;
            opacity: .7;
        }
    }


    @media (max-width:1200px){
     
        text-align: center;
        font-size: .8em;
        height: 2em;
        .MainNavbar__right{
            display: none;
        }
    }
}