.navbar {
    height: 52px;
    display: flex;
    justify-content: space-between;
    gap: 2em;
    align-items: center;
   font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    padding: 0 25px;
    font-family: 'Work Sans', sans-serif;

    .navbar__itemWrapper {
        display: flex;
        gap: 2em;
        

        .navbar__item {
            height: 52px;
        }

        .navbar__item:hover {
            border-bottom: 5px solid #00B4EA;
            cursor: pointer;
        }
    }

    .navbar-search-cart {
        display: flex;
        gap: 1em;
    }
    .navbar-search-cart :hover{
        cursor: pointer;
    }
}