.accessoriesGallery {
    max-width: 94%;
    margin: 0 auto;
    overflow: hidden;
    .accessories__grid{
        display: grid;
        justify-content: center;
        gap: .7em;
        justify-content: center;
        align-items: center;
        grid-auto-columns: 1fr;
        grid-auto-rows: 1fr;

        grid-template-areas: 
        'one one two two'
        'one one three four'
        ;

        .accessories__article{
            position: relative;

            .accessories__figCaption{
                position: absolute;
                font-size: 28px;
                line-height: 36px;
                overflow: hidden;
            }

            .caption1{
                font-size: 44px;
                line-height: 56px;
                top:1em;
                left: 1em;
                max-width: 6em;
            }

            .caption2{
                top: 4em;
                left: 2em;
            }

            .caption3{
                top:7.5em;
                left: 4.5em;
            }

            .caption4{
                top:7.5em;
                left: 3.5em;
            }
        }
        .accessories__article:nth-child(1){
            grid-area: one;
        }
        .accessories__article:nth-child(2){
            grid-area: two;
        }
        .accessories__article:nth-child(3){
            grid-area: three;
        }
        .accessories__article:nth-child(4){
            grid-area: four;
        }


        .accessories__article:hover{
            cursor: pointer;
        }
    }


   
 


}