.hero {
    position: relative;
    font-family: 'Montserrat', sans-serif;

    .HeroImg {
        width: 100%;
        height: auto;
    }

    .hero__content {
        position: absolute;
        top: 22%;
        // left: 2em;
        height: 100%;
        left: 3%;
        max-width: 1490px;
        display: flex;
        flex-direction: column;
        gap: 1.5em;
        margin: 0 auto;
        

        .hero__heading {
            display: flex;
            background-color: #0047FF;
            font-size: 2em;
            color: white;
            font-weight: 400;
            padding: 2px 28px;
            align-self: flex-start;
            line-height: 40px;
            border-radius: 10px;
        }

        .hero__subHeading {
            font-weight: 600;
            font-size: 2.2em;
            line-height: 50px;
           font-weight: bold;
            max-width: 15em;
        }

        h5 {
            color: #0047FF;
            font-weight: bold;
            font-size: 1.3em;
            line-height: 1.8em;
        }
    }
}