.hero {
    position: relative;
    font-family: 'Montserrat', sans-serif;

    .HeroImg {
        width: 100%;
        height: auto;
    }

    .hero__content {
        position: absolute;
        top: 9em;
        left: 2em;
        max-width: 35em;
        display: flex;
        flex-direction: column;
        gap: 1.5em;

        .hero__heading {
            display: flex;
            background-color: #0047FF;
            font-size: 32px;
            color: white;
            font-weight: 400;
            padding: 2px 28px;
            align-self: flex-start;
            line-height: 40px;
            border-radius: 10px;
        }

        .hero__subHeading {
            font-weight: 600;
            font-size: 36px;
            line-height: 50px;
           font-weight: bold;
            max-width: 15em;
        }

        h5 {
            color: #0047FF;
            font-weight: 600;
            font-size: 20px;
            line-height: 30px;
        }

        .shopHero__btn {
            padding: 15px 20px;
            font-weight: 700;
            font-size: 14px;
            line-height: 18px;
            width: 180px;
        }
    }
}