.categories {
    max-width: 94%;
    margin: 0 auto;
    overflow: hidden;

    .grid-container {
        display: grid;
        gap: 1em;
        justify-content: center;
        align-items: center;
        grid-auto-columns: 1fr;
        grid-auto-rows: 1fr;
        grid-template-areas:
            'one one four four'
            'two three four four'
        ;

        .categoriesImgArticle {
            position: relative;

            .categories__figCaption {
                position: absolute;
                font-size: 26px;
                line-height: 36px;
            }

            .caption1 {
                top: 4.5em;
                left: 3em;

            }

            .caption2 {
                color: #ffffff;
                top: 8em;
                left: 4.5em;
            }

            .caption3 {
                top: 8em;
                left: 4.5em;
            }

            .caption4 {
                font-size: 44px;
                line-height: 56px;
                color: #ffffff;
                top:9em;
                left: 1em;
                max-width: 8em;
                letter-spacing: .45px;
            }

        }

        .categoriesImgArticle:nth-child(1) {
            grid-area: one;
        }

        .categoriesImgArticle:nth-child(2) {
            grid-area: two;
        }

        .categoriesImgArticle:nth-child(3) {
            grid-area: three;
        }

        .categoriesImgArticle:nth-child(4) {
            grid-area: four;
        }

        .categoriesImgArticle:hover {
            cursor: pointer;
        }
    }



}