.categories{
    display: flex;
    padding: 0 25px;
    gap: 1em;
    justify-content: center;

    .backpackImg{
        width: 43em;
        height: auto;
    }

    .clothingImg{
        width: 21em;
        height: auto;
     }
    .categories__container1{
        display: flex;
        flex-direction: column;
        
      

        .categories__subContainer{
         display: flex;   
        
        

        }

        
    }
}