.flyer {
    position: relative;
    margin-top: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
    width: 93vw;
    // font-family: 'Montserrat', sans-serif;
    .flyerImg {
        width: 100%;
        height: auto;
        object-fit: cover;
        // z-index: -1;
    }

    .flyer__content {
        position: absolute;
        top: 5.5em;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1em;
        h2{
            font-size: 24px;
        }

        h1{
            font-size: 36px;
        }
        p{
            font-size: 14px;
        }
        #whiteButton{
            position: relative;
            background-color:white;
            color: #111111;
            transition: transform .2s ease-in;

        }
        #whiteButton:hover{
            transform: translate(-10px, -10px);
            
        }
    }

}