.prefooter__section {
    display: flex;
    flex-direction: column;
    gap: .5em;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    width: 80%;
    font-size: 17px;
    line-height: 32px;
}