@import url('https://fonts.googleapis.com/css2?family=Martel+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --footer-grey-color: #C3C5C6;
}

html,
body {
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
  /* used instead of sohne brieght font which is paid but used in original webpage */
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
}

a {
  color: #00B4EA;
  text-decoration: none;
  cursor: pointer;
  text-decoration: underline;
}

li {
  text-decoration: none;
  list-style: none;
  display: flex;
  align-items: center;

}

.spacerbar__short {
  width: 100%;
  height: 80px;
}

.spacerbar__long {
  width: 100%;
  height: 130px;
}

.img {
  width: 100%;
  height: auto;
}

/* used in all the shopnow buttons */
#blackButton {
  position: relative;
  background-color: #111111;
  color: #ffffff;
  transition: transform .2s ease-in;
}

#blackButton:hover {
  transform: translate(-10px, -10px);
}


@media (max-width: 600px) {

  .spacerbar__long {
    height: 70px;
  }

  .spacerbar__short {
    height: 40px;
  }
}

/* font-family: 'Montserrat', sans-serif; */
/* font-family: 'Martel Sans', sans-serif; */
/* for headings */