@import url('https://fonts.googleapis.com/css2?family=Martel+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Martel Sans', sans-serif; */
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
  /* overflow-x: hidden; */
}

a {
  color: #00B4EA;
  text-decoration: none;
  cursor: pointer;
  text-decoration: underline;
}

li {
  text-decoration: none;
  list-style: none;
  display: flex;
  align-items: center;

}

.shopNow__Button {
  background: #111111;
  color: white;
  border-radius: 8px;
}

.spacerbar__short {
  width: 100%;
  height: 50px;
}

.spacerbar__long {
  width: 100%;
  height: 80px;
}

.img {
  width: 100%;
  height: auto;
}

#blackButton {
  position: relative;
  background-color: #111111;
  color: #ffffff;
  transition: transform .2s ease-in;
}

#blackButton:hover {
  transform: translate(-10px, -10px);


}

@media (max-width: 600px) {
  body{
    font-size: 8px;
  }
}