
    .footer__searchbar__section{
        display: flex;
        gap: 2em;
        align-items: center;
        justify-content: space-between;
        padding: 2em 3em;
        background-color:rgb(50,50,50,0.94);
        color: #ffffff;
        
      

        .searchBar__left{
            display: flex;
            flex-direction: column;
            gap: 1em;
        }

        .footer__searchBar{
            display: flex;
            gap: 1em;

        }

        #outlined-basic{
            background-color: #ffffff;
            width: 30em;
            height: 1em;
            border-radius: 10px;
            border: none;
        }

        .socialicons{
            display: flex;
            gap: .5em;
        }
        .socialicons:hover{
            cursor: pointer;
        }
    }