.carousel {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 0 25px;
    margin: 0 auto;
    letter-spacing: .35px;
    h2 {
        align-self: center;
        font-size: 30px;
        font-weight: 500;
    }

    .cardsWrapper {
        align-self: center;
        display: flex;
        gap: 16px;
        overflow: hidden;

        .cardItem {
            position: relative;
            transition: transform .2s ease-in;
            /* Animation */
            overflow: hidden;
            height: 190px;

            .carouselImg {
                height: auto;
                width: 100%;
            }

            .cardCaption {
                position: absolute;
                top: 130px;
                left: 20px;
                color: white;
                font-size: 18px;
                vertical-align: bottom;
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
    
            }

        }

        .cardItem:hover {
            transform: scale(1.1);
            cursor: pointer;
        }
    }
}