.carousel {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 0 25px;
    margin: 0 auto;
    letter-spacing: .35px;

    h2 {
        align-self: center;
        font-size: 30px;
        font-weight: 500;
    }

    .cardsWrapper {
        align-self: center;
        display: flex;
        gap: 16px;
        overflow-x: hidden;

        .cardItem {
            position: relative;
            transition: transform .2s ease-in;
            /* Animation */
            overflow: hidden;

            .carouselImg {
                height: 190px;
                width: 190px;
            }

            .cardCaption {
                position: absolute;
                top: 130px;
                left: 20px;
                color: white;
                font-size: 18px;
            }

        }

        .cardItem:hover {
            transform: scale(1.1);
            cursor: pointer;
        }
    }
}