.carousel {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 0 25px;
    margin: 0 auto;
    h2{
        align-self: center;
    }
    .cardsWrapper {
        align-self: center;
        display: flex;
        gap: 16px;
        overflow-x: hidden;

        .cardItem {
            position: relative;
            transition: transform .2s ease-in; /* Animation */
            overflow: hidden;
            .carouselImg {
                height: 190px;
                width: 190px;
            }

            .cardCaption {
                position: absolute;
                top: 140px;
                left: 20px;
                color: white;
            }

        }

        .cardItem:hover{
            transform: scale(1.1);
            cursor: pointer;
        }
    }
}