.footer {
    color: #C3C5C6;    


    .footer__links {
        padding: 1.5em 3em 3em;
        background-color: #111111;


        .footer__links__Xwrapper {
            display: flex;

            .footer__links__Ywrapper {
                display: flex;
                flex-direction: column;
                gap: 1em;
                flex: 1;

                .linksHeader{
                    padding: 2em 0 1em;
                    color:white;
                    transition: .2s ease-in-out;
                }
                .linksHeader:hover{
                    opacity: .7;
                    cursor: pointer;
                }

                .linksWrapper {
                   

                    .linksItem {
                        font-size: 15px;
                        line-height: 18px;
                        transition: ease-in .2s;
                    }

                    .linksItem:hover{
                        cursor: pointer;
                        color: white;
                    }
                }
            }
        }

    }

    .footer__bottom {
        font-size: 12px;
        background-color: #111111;
        padding: 3rem 3rem;
        display: flex;
        flex-direction: column;
        gap: 1em;
       
       
        hr{
            margin:0 0 2em 0;
            background-color: #C3C5C6;
        }
        span{
            color: white;
        }
        .terms__of__use {
            display: flex;
            gap: 2rem;
            margin-bottom: 1rem;
        }
        .terms__of__use :hover{
            cursor: pointer;
        }
    }


@media (max-width:700px){

        .footer__bottom{
            text-align: center;
        
        }
    }

}